$main-color: #1e1e1f;
$secondary-color: #1d1f20;
$border-color: #323233;
$nav-color: #0c0c0c;
$text-color: #f0f0f0;
$skill-bg-color: #3b3b3b;
$red: #df5a53;
$yellow: #dbbf3d;
$green: #7fc03f;
$purple: #8b59b2;

$tablet-size: 768px;
$gap: 50px;
