<section class="intro-section">
  <div class="intro-section__window">
    <div class="intro-section__dots">
      <span class="intro-section__dot intro-section__dot--red"></span>
      <span class="intro-section__dot intro-section__dot--yellow"></span>
      <span class="intro-section__dot intro-section__dot--green"></span>
    </div>
    <picture class="intro-section__picture">
      <source srcset="../assets/hamlet.webp" type="image/webp">
      <img class="intro-section__image" src="../assets/hamlet.jpg" alt="My profile photo" width="250" height="250">
    </picture>
    <div class="intro-section__info">
      <h2 class="intro-section__title">Hamlet Margaryan</h2>
      <p class="intro-section__subtitle">Frontend-developer</p>
      <ul class="intro-section__contacts-list">
        <li class="intro-section__contacts-item intro-section__contacts-item--telegram">
          <a href="https://t.me/hmltmr" target="_blank" class="intro-section__contacts-link">@hmltmr</a>
        </li>
        <li class="intro-section__contacts-item intro-section__contacts-item--mail">
          <a href="mailto:dev.hamlet.m@gmail.com" target="_blank"
            class="intro-section__contacts-link">dev.hamlet.m@gmail.com</a>
        </li>
        <li class="intro-section__contacts-item intro-section__contacts-item--github">
          <a href="https://github.com/hmargaryan" target="_blank" class="intro-section__contacts-link">hmargaryan</a>
        </li>
      </ul>
    </div>
  </div>
</section>