<section class="projects-section">
  <h2 class="title">Projects</h2>
  <ul class="projects-section__list">
    <li class="projects-section__item">
      <picture class="projects-section__picture">
        <div class="bar">
          <span class="bar__arrows">&#8592; &#8594;</span>
          <span class="bar__reload">&#10227;</span>
          <span class="bar__url">https://teamunite.com</span>
          <span class="bar__avatar bar__avatar--yellow">T</span>
          <span>&#8286;</span>
        </div>
        <span class="status status--yellow">In progress</span>
        <source srcset="../assets/teamunite-logo.webp" type="image/webp">
        <img class="projects-section__image" src="../assets/teamunite-logo.jpg" alt="Teamunite logo" width="278"
          height="250">
      </picture>
      <div class="projects-section__content">
        <h3 class="projects-section__title">Teamunite</h3>
        <p class="projects-section__description">
          Teamunite is a platform that brings student in teams (React, Redux, Typescript, Node.js, Mongodb).
        </p>
        <a class="button button--webpage" href="https://teamunite.ru/" target="_blank">Webpage</a>
      </div>
    </li>
    <li class="projects-section__item">
      <picture class="projects-section__picture">
        <div class="bar">
          <span class="bar__arrows">&#8592; &#8594;</span>
          <span class="bar__reload">&#10227;</span>
          <span class="bar__url">https://moovy.com</span>
          <span class="bar__avatar bar__avatar--green">M</span>
          <span>&#8286;</span>
        </div>
        <span class="status status--green">Done</span>
        <source srcset="../assets/moovy.webp" type="image/webp">
        <img class="projects-section__image" src="../assets/moovy.jpg" alt="Moovy app screenshot" width="278"
          height="250">
      </picture>
      <div class="projects-section__content">
        <h3 class="projects-section__title">Moovy</h3>
        <p class="projects-section__description">
          Moovy is a responsive React-Typescript app using tmdb api to get
          data about the movies
        </p>
        <a class="button button--webpage" href="https://moovy-react-app.herokuapp.com/" target="_blank">Webpage</a>
        <a class="button button--repo" href="https://github.com/hmargaryan/moovy" target="_blank">Repository</a>
      </div>
    </li>
    <li class="projects-section__item">
      <picture class="projects-section__picture">
        <div class="bar">
          <span class="bar__arrows">&#8592; &#8594;</span>
          <span class="bar__reload">&#10227;</span>
          <span class="bar__url">https://covid-19.com</span>
          <span class="bar__avatar bar__avatar--green">C</span>
          <span>&#8286;</span>
        </div>
        <span class="status status--green">Done</span>
        <source srcset="../assets/covid-19.webp" type="image/webp">
        <img class="projects-section__image" src="../assets/covid-19.jpg" alt="COVID-19 app screenshot" width="278"
          height="250">
      </picture>
      <div class="projects-section__content">
        <h3 class="projects-section__title">COVID-19 tracker</h3>
        <p class="projects-section__description">
          COVID-19 is a React app with the addition of Chart.js
        </p>
        <a class="button button--repo" href="https://github.com/hmargaryan/covid" target="_blank">Repository</a>
      </div>
    </li>
    <li class="projects-section__item">
      <picture class="projects-section__picture">
        <div class="bar">
          <span class="bar__arrows">&#8592; &#8594;</span>
          <span class="bar__reload">&#10227;</span>
          <span class="bar__url">https://granit.com</span>
          <span class="bar__avatar bar__avatar--yellow">G</span>
          <span>&#8286;</span>
        </div>
        <span class="status status--yellow">In progress</span>
        <source srcset="../assets/granit.webp" type="image/webp">
        <img class="projects-section__image" src="../assets/granit.jpg" alt="Granit landing screenshot" width="278"
          height="250">
      </picture>
      <div class="projects-section__content">
        <h3 class="projects-section__title">Granit</h3>
        <p class="projects-section__description">
          Granit is a modern responsive landing page about a non-metallic materials delivery company
        </p>
        <a class="button button--webpage" href="https://hmargaryan.github.io/granit-prod/" target="_blank">Webpage</a>
        <a class="button button--repo" href="https://github.com/hmargaryan/granit-landing"
          target="_blank">Repository</a>
      </div>
    </li>
    <li class="projects-section__item">
      <picture class="projects-section__picture">
        <div class="bar">
          <span class="bar__arrows">&#8592; &#8594;</span>
          <span class="bar__reload">&#10227;</span>
          <span class="bar__url">https://portfolio.com</span>
          <span class="bar__avatar bar__avatar--green">P</span>
          <span>&#8286;</span>
        </div>
        <span class="status status--green">Done</span>
        <source srcset="../assets/portfolio.webp" type="image/webp">
        <img class="projects-section__image" src="../assets/portfolio.jpg" alt="Portfolio page screenshot" width="278"
          height="250">
      </picture>
      <div class="projects-section__content">
        <h3 class="projects-section__title">Portfolio</h3>
        <p class="projects-section__description">
          I think it's great!
        </p>
        <a class="button button--repo" href="https://github.com/hmargaryan/portfolio" target="_blank">Repository</a>
      </div>
    </li>
  </ul>
</section>