<section class="skills-section">
  <h2 class="title">Skills</h2>
  <ul class="skills-section__list">
    <li class="skills-section__item">
      <h3 class="skills-section__title">HTML</h3>
      <img class="skills-section__image" src="../assets/html-logo.svg" alt="HTML logo" width="150" height="150">
    </li>
    <li class="skills-section__item">
      <h3 class="skills-section__title">CSS</h3>
      <img class="skills-section__image" src="../assets/css-logo.svg" alt="CSS logo" width="150" height="150">
    </li>
    <li class="skills-section__item">
      <h3 class="skills-section__title">SASS</h3>
      <img class="skills-section__image" src="../assets/sass-logo.svg" alt="SASS logo" width="150" height="150">
    </li>
    <li class="skills-section__item">
      <h3 class="skills-section__title">BEM</h3>
      <img class="skills-section__image" src="../assets/bem-logo.svg" alt="BEM logo" width="150" height="150">
    </li>
    <li class="skills-section__item">
      <h3 class="skills-section__title">Javascript</h3>
      <img class="skills-section__image" src="../assets/js-logo.svg" alt="Javascript logo" width="150" height="150">
    </li>
    <li class="skills-section__item">
      <h3 class="skills-section__title">Typescript</h3>
      <img class="skills-section__image" src="../assets/ts-logo.svg" alt="Typescript logo" width="150" height="150">
    </li>
    <li class="skills-section__item">
      <h3 class="skills-section__title">React</h3>
      <img class="skills-section__image" src="../assets/react-logo.svg" alt="React logo" width="150" height="150">
    </li>
    <li class="skills-section__item">
      <h3 class="skills-section__title">Redux</h3>
      <img class="skills-section__image " src="../assets/redux-logo.svg" alt="Redux logo" width="150" height="150">
    </li>
    <li class="skills-section__item">
      <h3 class="skills-section__title">Webpack</h3>
      <img class="skills-section__image" src="../assets/webpack-logo.svg" alt="Webpack logo" width="150" height="150">
    </li>
    <li class="skills-section__item">
      <h3 class="skills-section__title">Git</h3>
      <img class="skills-section__image" src="../assets/git-logo.svg" alt="Git logo" width="150" height="150">
    </li>
  </ul>
</section>