.button {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 24px;

  color: $text-color;
  background-color: $main-color;
  background-repeat: no-repeat;
  border-radius: 5px;
  transition: all 0.2s;

  &:hover,
  &:focus {
    background-color: transparent;
    transition: all 0.2s;
  }

  &--webpage {
    background-image: url('~../../assets/webpage.svg');
    background-size: 15px 15px;
    background-position-x: 5px;
    background-position-y: 9px;
    border: 1px solid #5391fb;
  }

  &--repo {
    background-image: url('~../../assets/repo.svg');
    background-size: 22px 22px;
    background-position-x: 2px;
    background-position-y: 5px;
    border: 1px solid $purple;
  }
}
