<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="assets/favicon.ico" type="image/icon">
  <title>Hamlet Margaryan – fronend developer</title>
</head>

<body>
  <div class="container">
    <%= require('html-loader!./templates/header.html') %>
    <main role="main">
      <%= require('html-loader!./templates/intro-section.html') %>
      <%= require('html-loader!./templates/skills-section.html') %>
      <%= require('html-loader!./templates/projects-section.html') %>
    </main>
    <%= require('html-loader!./templates/footer.html') %>
  </div>
</body>

</html>